*{
    margin: 0;
    padding: 0;
}
ol{
    list-style: georgian;
    background-color: antiquewhite;
}
ul{
    list-style: georgian;
    background-color: beige;

}
.om{
    list

}
.okay{
    color: aquamarine;
}
.pic{
    background-color: beige;
}